---
Checks: '*,
  -readability-identifier-length,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -google-build-using-namespace,
  -misc-non-private-member-variables-in-classes,
  -llvmlibc-*,
  -llvm-header-guard,
  -boost-use-ranges,
  -abseil-*,
  -misc-include-cleaner,
  -fuchsia-*,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -altera-unroll-loops,
  -altera-id-dependent-backward-branch'
